/* HTML: <div class="loader"></div> */
.loader {
	width: fit-content;
	font-weight: bold;
	font-family: monospace;
	font-size: 60px;
	background:linear-gradient(90deg,#000 50%,#0000 0) right/200% 100%;
	animation: l21 2s infinite linear;
}
.loader::before {
	content :"Loading...";
	color: #0000;
	padding: 0 5px;
	background: inherit;
	background-image: linear-gradient(90deg,#fff 50%,#000 0);
	-webkit-background-clip:text;
			background-clip:text;
}

@keyframes l21{
	100%{background-position: left}
}

.web #preloader {
	display: none;
}

#preloader {
	min-height: 100vh;
	margin: 0;
	box-sizing: border-box;
	overflow: hidden;
	text-align: center;
	padding-top: 40vh;
}

#preloader h1 {
	font-family: 'Open Sans', -apple-system, 'Segoe UI', sans-serif;
	font-size: 75px;
	font-weight: bold;
	color: hsl(0, 0%, 13%);
	box-sizing: border-box;
	margin-block-start:0px;
}

#preloader h2 {
	font-family: 'Open Sans', -apple-system, 'Segoe UI', sans-serif;
	font-size: 40px;
	font-weight: bold;
	color: hsl(0, 0%, 13%);
	box-sizing: border-box;
	margin-block-end: 0px;
}
